<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<!--
Name: Alec Schopler
Instructor: Prof. Pogue
Class: Software Engineering
Date: 20 September 2020
Description: This is the landing page to my website.
-->

<head>
    <link rel="stylesheet" href="/css/landing.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SE Index</title>
</head>
<body>
    <h1> - Home - </h1>

    <div class="navbar">
      <a href="index.handlebars">Home</a>
      <a href="https://github.com/aschopler/Software-Engineering-Aschopler" target="_blank">GitHub</a>
      <div class="dropdown">
        <button class="dropbtn">Sprint 1
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="my-favorite-hobby.handlebars">My Favorite Hobby</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sprint 2
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="dice-roller.handlebars">Dice Roller</a>
          <a href="syllabus.handlebars">Course Syllabus</a>
          <a href="regexp.handlebars">RegExp Tester</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sprint 3
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">  
          <a href="https://software-engineering-helloworld-node-aps.azurewebsites.net/" target="_blank">Hello World! (Node.js)</a>
        </div>
      </div>
    </div>

    <h2> > Welcome to my landing page! < </h2><br>
    <p2>Use the navbar above to find my assignments for each sprint.</p2><br><br>
    <table style="width:25%">
        <tr>
          <th>Sprint</th>
          <th>End Date</th>
        </tr>
        <tr>
            <td>1</td>
            <td>13 September 2020</td>
        </tr>
        <tr>
            <td>2</td>
            <td>27 September 2020</td>
        </tr>
        <tr>
            <td>3</td>
            <td>11 October 2020</td>
        </tr>
        <tr>
            <td>4</td>
            <td>25 October 2020</td>
        </tr>
        <tr>
            <td>5</td>
            <td>8 November 2020</td>
        </tr>
        <tr>
            <td>6</td>
            <td>22 November 2020</td>
        </tr>
        <tr>
            <td>7</td>
            <td>6 December 2020</td>
        </tr>
        <tr>
            <td>8</td>
            <td>17 December 2020</td>
        </tr>
      </table><br><br>
</body>
</html>