<!DOCTYPE html>

<!--
Name: Alec Schopler
Instructor: Prof. Pogue
Class: Software Engineering
Date: 12 September 2020
-->

<html lang="en">
<head>
<link rel="stylesheet" href="/css/styles.css">
<title>My Favorite Hobby</title>
</head>
<body>
<h1> - Table Top Wargaming - </h1>

    <div class="navbar">
      <a href="/">Home</a>
      <a href="https://software-engineering-aps.azurewebsites.net/index.html" target="_blank">Azure Site</a>
      <div class="dropdown">
        <button class="dropbtn">GitHub
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="https://github.com/aschopler/Software-Engineering-Aschopler" target="_blank">Azure GitHub</a>
          <a href="https://github.com/aschopler/Software-Engineering-Aschopler-Node" target="_blank">Azure Node GitHub</a>
        </div>
      </div>    
      <div class="dropdown">
        <button class="dropbtn">Sprint 1
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/my-favorite-hobby">My Favorite Hobby</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sprint 2
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/dice-roller">Dice Roller</a>
          <a href="/syllabus">Course Syllabus</a>
          <a href="/regexp">RegExp Tester</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sprint 3
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">  
          <a href="https://software-engineering-helloworld-node-aps.azurewebsites.net/" target="_blank">Hello World! (Node.js)</a>
        </div>
      </div>
    </div>



<h2> > What's it about? < </h2><br>

<img src="https://qph.fs.quoracdn.net/main-qimg-843133dbde6236cec846a814dcc80dbe" alt="Warhammer 40k New Logo">

<p>One of my favorite hobbies is table top wargaming. Out of all the table top wargames I have played, Games Workshop's <a  class="links" href="https://www.games-workshop.com/en-US/Warhammer-40-000/" target="_blank">Warhammer 40k</a> is my absolute favorite.
    The game, lore, and hobby aspect of it is what keeps me engaged in it. </p>
  
<br>
<div><h3>Why do I find this hobby interesting?</h3></div>
<p>Playing the game:</p>
<ul>
    <li>The game itself is complex and unique that nothing in the market (that I know of) plays like it.</li>
    <li>There is a very large variety of armies that all completely play differently from each other.</li>
    <li>Each faction in the game have sub-factions that also change the way how the army plays on the tabletop.</li>
  </ul>

<img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Keno_mini_wargame.jpg" alt="Warhammer 40k Tabletop example" width="500" height="300">

<p>Hobby aspect:</p>
  <ul>
      <li>I love working with my hands. Cutting out parts from a sprue and gluing them together </li>
      <li>The Games Workshop models themselves are full of detail and are surprisingly high quality compared to other companies.</li>
      <li>Painting models can be very relaxing and allows me to use express my creativity on each model.</li>
    </ul>

<img src="https://www.scalemodelguide.com/wp-content/uploads/2012/07/Using_Xuron_cutter.jpg" alt="Cutters" width="500" height="300">

<br><br>
<div><h3>Proudest hobby achievement:</h3></div>
<p>One of my proudest achievements for the hobby wasn't actually related to the hobby itself. Rather it was a SQL database that contained all of my recorded data related to my models.
    This SQL data base had a HTML/CSS/PHP component that allowed me to browse and edit the data from my own computer rather than just editing the database manually.
</p>

<p>In essence, this is what the database looked like (in simplified terms):</p>
<table style="width:50%">
    <tr>
      <th>Model name</th>
      <th>Unit type</th>
      <th>Equipment</th>
      <th>Base size</th>
      <th>Base type</th>
      <th>Number unbuilt</th>
      <th>Number built</th>
      <th>Number primed</th>
      <th>Number painted</th>
      <th>Total count</th>
    </tr>
    <tr>
      <td>Strike Team</td>
      <td>Troop</td>
      <td>Pulse Rifle</td>
      <td>25mm</td>
      <td>Ground</td>
      <td>30</td>
      <td>60</td>
      <td>60</td>
      <td>10</td>
      <td>160</td>
    </tr>
    <tr>
        <td>Breacher Team</td>
        <td>Troop</td>
        <td>Pulse Blaster</td>
        <td>25mm</td>
        <td>Ground</td>
        <td>0</td>
        <td>40</td>
        <td>0</td>
        <td>0</td>
        <td>40</td>
    </tr>
    <tr>
        <td>Pathfinder Team</td>
        <td>Fast Attack</td>
        <td>Pulse Carbine + Markerlight</td>
        <td>25mm</td>
        <td>Ground</td>
        <td>0</td>
        <td>60</td>
        <td>20</td>
        <td>0</td>
        <td>80</td>
    </tr>
    <tr>
        <td>MV1 Gun Drone</td>
        <td>Fast Attack</td>
        <td>x2 Pulse Carbine</td>
        <td>32mm</td>
        <td>Flying</td>
        <td>12</td>
        <td>24</td>
        <td>18</td>
        <td>6</td>
        <td>60</td>
    </tr>
  </table>
  
  <p>This database helped me manage and organize my own hobby so that I can work more efficiently.</p>

  <br>
  <div><h3>How to get started with this hobby?</h3></div>
  <p>This hobby can definitely be fun but it requires a LOT of work. For you to play the game, you have to build and paint models so that it is more immersive on the table top. 
    This isn't a video game where you are playing to win. You are playing for the experience. With that being said, starting out small is definitely the right move when starting a new hobby.
  </p>

  <p>On a barebones level, you should have the following to start working with miniature modeling:</p>
  <ul>
    <li>Some <a class="links" href="https://www.games-workshop.com/en-US/Start-Collecting-Vanguard-Space-Marines-2019/" target="_blank">models</a> for an army that you enjoy the look of</li>
    <li>Simple cutting tools such as <a class="links" href="https://www.amazon.com/Xuron-2175ET-Professional-Sprue-Cutter/dp/B001TMZ7QA/" target="_blank">modeling cutters</a> and a <a class="links" href="https://www.amazon.com/Tamiya-74098-Modeler-Knife-Pro/dp/B0042VKAP8/" target="_blank">modeling knife</a></li>
    <li><a class="links" href="https://www.games-workshop.com/en-US/Citadel-Plastic-Glue-2016-Global/" target="_blank">Plastic</a> or super glue to glue the model together</li>
    <li>A <a class="links" href="https://www.games-workshop.com/en-US/Spray-Chaos-Black-Global-2019/" target="_blank">spray primer</a> to prime your models for painting</li>
    <li>A couple different <a class="links" href="https://www.amazon.com/Tamiya-America-Modeling-Standard-TAM87067/dp/B000J49XD2/" target="_blank">paint brushes</a> and a small selection of <a class="links" href="https://www.amazon.com/Vallejo-Basic-Colors-Paint-17ml/dp/B009162PWU/ref=sr_1_6?crid=WTJ1U7I3VFXI&dchild=1&keywords=model+paints+for+plastic+models+vallejo&qid=1599937869&sprefix=Model+Paints+for+Plastic+Models+va%2Caps%2C174&sr=8-6/" target="_blank">model paints</a> to use</li>
    <li>A mixing plate (such as a ceramic tile) and a glass of water</li>
    <li>Some <a class="links" href="https://www.games-workshop.com/en-US/Middenland-Tufts/" target="_blank">basing material</a> and <a class="links" href="https://www.games-workshop.com/en-US/Technical-Agrellan-Earth-2019/" target="_blank">texture paint</a> add the finishing touches to the model's base</li>
  </ul>

  <p>Once you have all of that, you can then begin your modeling adventure! Once you start, you'll become quite addicted to building your models and army!</p>
  <br>

  <img src="https://wh40k.lexicanum.com/mediawiki/images/5/55/IntercessorSquad.jpg" alt="Warhammer 40k Intercessor Squad" width="550" height="500">
  <br><br>

  <a class="links" style="font-family:Arial; letter-spacing: 1px; font-size: 16px; line-height: 20px;" href="#top">Click here to back to the top of the page</a>
  <br><br><br><br>
  
</body>
</html>