<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<!--
Name: Alec Schopler
Instructor: Prof. Pogue
Class: Software Engineering
Date: 22 September 2020
Description: This is the course syllabus for CPSC 44000.
-->

<head>
    <link rel="stylesheet" href="/css/landing.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Syllabus</title>
</head>
<body>
    <h1> - CPSC 44000 Course Syllabus - </h1>

    <div class="navbar">
      <a href="index.handlebars">Home</a>
      <a href="https://github.com/aschopler/Software-Engineering-Aschopler" target="_blank">GitHub</a>
      <div class="dropdown">
        <button class="dropbtn">Sprint 1
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="my-favorite-hobby.handlebars">My Favorite Hobby</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sprint 2
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="dice-roller.handlebars">Dice Roller</a>
          <a href="syllabus.handlebars">Course Syllabus</a>
          <a href="regexp.handlebars">RegExp Tester</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sprint 3
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">  
          <a href="https://software-engineering-helloworld-node-aps.azurewebsites.net/" target="_blank">Hello World! (Node.js)</a>
        </div>
      </div>
    </div>

    <h2> > Software Engineering Course Syllabus < </h2><br>
  
    <h6>I. Instructor Information</h6>
    <p style="padding-top:0px">
        <strong>Instructor's name:</strong> Eric Pogue<br>
        <strong>Lewis office location:</strong> AS-132-A<br>
        <strong>Office hours:</strong> MWF 1-2pm CT by appointment<br>
        <strong>Appointments:</strong> Appointments can be requested via email<br>
        <strong>Lewis Phone Number:</strong> 563-209-7280 (mobile)<br>
        <strong>Lewis email address:</strong> epogue@lewisu.edu<br>
      </p>

      
      <h6>II. Course Information</h6>

      <p style="padding-top:0px; padding-bottom:0px">
        <strong>Course:</strong> Software Engineering (CPSC-44000-LT1)<br>
        <strong>Course Credit Hours:</strong> 3<br>
        <strong>Course description:</strong><br>
        Methods, strategies, and tools for implementing software systems, particularly as part
        of a development team. Topics include the software development life cycle, Unified
        Modeling Language, software testing techniques, software security, open-source
        development, requirements gathering and documentation, maintenance, and basic
        software project management.<br><br>
        Prerequisites: CPSC-24500 Object-Oriented Programming<br><br>
        <strong>Course meeting times:</strong> MWF 12-12:50am CT from August 31 through December 12th<br>
        <strong>Meeting location:</strong> AS 104A<br>
        <strong>Course final:</strong> Monday, December 14th from 1:30 to 3:30pm CT<br><br>

        <strong>Student Learning Outcomes:</strong>
        <ol style="padding-top:0px; padding-bottom:0px">
          <li> compare and contrast various software process models</li>
          <li> be able to elicit and analyze requirements of a proposed application</li>
          <li> write clear and complete requirements documents</li>
          <li> identify the events to which the software must respond and document them as a set of use cases</li>
          <li> identify security issues in a software projects requirements and design</li>
          <li> use techniques to produce self-documenting code</li>
          <li> use coding strategy to produce secure code</li>
          <li> draw diagrams to model workflows</li>
          <li> develop and use diagrams to model classes and the interaction of classes</li>
          <li> understand and practice unit testing and functional testing</li>
          <li> understand the techniques used to test non-functional requirements such as performance and security</li>
          <li> develop a project schedule</li>
        </ol>
      </p>
      <p style="padding-top:0px; padding-bottom:0px">
        <strong>Program student learning outcomes:</strong>
        <ol style="padding-top:0px; padding-bottom:0px">
          <li> develop programs using languages having different programming paradigms and for a variety of platforms</li>
          <li> select the most appropriate data structures and algorithms for the given problem</li>
          <li> explain how programming languages are designed and implemented</li>
        </ol>
      </p>
      <p style="padding-top:0px; padding-bottom:0px">
        <strong>Baccalaureate Characteristics:</strong>
        <ol style="padding-top:0px; padding-bottom:0px">
          <li> Essential Skills</li>
          <li> Critical Thinking</li>
        </ol>
      </p>

      <h6>III. University Mission Statement</h6>
      <p style="padding-top:0px; padding-bottom:0px">
        Lewis University, guided by its Catholic and Lasallian heritage, provides to a diverse
        student population programs for a liberal and professional education grounded in the
        interaction of knowledge and fidelity in the search for truth.<br><br>
        Lewis promotes the development of the complete person through the pursuit of wisdom
        and justice. Fundamental to its Mission is a spirit of association, which fosters
        community in all teaching, learning and service.<br><br>
      
        <strong>How this course connects to the University Mission:</strong><br>
        This course will allow us to extend our knowledge in software development, provide us
        the foundation for lifelong learning in this domain, and provide us the opportunity to
        assist each other on our learning journey.<br>
      </p>

      <h6>IV. Course Materials</h6>
        <p style="padding-top:0px; padding-bottom:0px">
          <strong>Textbook:</strong> Fox and Patterson. Engineering Software as a Service: An Agile Approach
            Using Cloud Computing. ISBN: 978-0984881246.<br><br>

          <strong>E-Learning Headphone with Microphone:</strong> Our blended classroom setting
          requires a wired computer headset with a microphone for both in person and
          online participation.<br><br>

          <strong>Supplemental readings, videos, online materials:</strong> Additional readings, videos, and
          online materials will be provided.<br><br>

          <strong>Hardware and software requirements:</strong> This course requires access to multiple
          software tools. There are generally available for free but will need to be installed and
          utilized from a Windows or Macintosh computer.<br><br>

          <strong>Other required materials or costs:</strong> During this course we will be setting up and utilizing
          GitHub and Microsoft Azure accounts. We will be able to complete course assignments
          utilizing these resources for free or at a very low cost (estimated less than $20). A credit
          card will be needed to sign up for these accounts.<br>
        </p>

        <h6>V. Instructional Methods and Activities</h6>
        <p style="padding-top:0px; padding-bottom:0px">     
            <strong>Modality of Instruction:</strong> This course will be online
        </p>

        <h6>VI. Course Schedule</h6>
        <p style="padding-top:0px; padding-bottom:0px">
        The course is broken into 8 modules (sprints) with each module being one week. 
        </p>

        <table style="width:65%; padding-bottom:0px">
          <tr>
              <th>Module</th>
              <th>Topics</th>
              <th>Textbook Readings</th>
          </tr>
          <tr>
              <td>1</td>
              <td>Introduction to SaaS and Agile Development
                  The Architecture of SaaS Applications
                  Getting Started with Git & GitHub
                  Cloud Computing with Microsoft Azure</td>
              <td>Chapter 1
                  Chapter 2
                  A.5 and A.6</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Ruby Overview
                  Getting Started with JavaScript
                  Getting Started with Bootstrap
                  Getting Started with Node.js</td>
              <td>Chapter 3 and Chapter 4
                  Chapter 6</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Behavior Driven Development
                  Plan and Document Requirements
                  Getting Started with Microsoft Azure and Node.js</td>
              <td>Chapter 7</td>
          </tr>
          <tr>
              <td>4</td>
              <td>Testing and Test-Driven Development
                  HTML, CSS, JavaScript, and Bootstrap
                  Azure, Node.js, JavaScript, and Express</td>
              <td>Chapter 8</td>
          </tr>
          <tr>
              <td>5</td>
              <td>Maintenance, Metrics, and Metrics
                  Agile Requirements & Saas Environment
                  Class Project – Sprint 1: </td>
              <td>Chapter 9</td>
          </tr>
          <tr>
              <td>6</td>
              <td>Project Management & Scaled Agile
                  Serverless Computing
                  Class Project – Sprint 2
                  </td>
              <td>Chapter 10</td>
          </tr>
          <tr>
              <td>7</td>
              <td>Design Patterns
                  Software Architecture
                  Class Project – Sprint 3</td>
              <td>Chapter 11</td>
          </tr>
          <tr>
              <td>8</td>
              <td>Performance, Releases, Reliability, and Security
                  More Software Architecture
                  Class Project – Sprint 4</td>
              <td>Chapter 12</td>
          </tr>
      </table><br><br>
      <p style="padding-top:0px; padding-bottom:0px">
      <strong>Schedule Changes:</strong> Material changes to the course schedule will be communicated
          through course lecture and/or Blackboard announcements.<br><br>
      </p>

      <h6>VII. Grading Criteria and Course Policies</h6>

      <p style="padding-top:0px; padding-bottom:0px">
        <strong>Assignments and Course Requirements:</strong><br><br>
        Assignments for this course will take the form of Programming Projects, Quizzes,
        Discussion Board topics, a class Demonstration, and a Final Project.<br><br>
        <strong>Course Grade:</strong> The course grade will be based on the following:
      </p>

      <table style="width:65%; padding-bottom:0px">
        <tr>
            <th>Assignment</th>
            <th>Points</th>
            <th>#</th>
            <th>Total Points</th>
            <th>% of Grade</th>
        </tr>
        <tr>
            <td>Lab</td>
            <td>70</td>
            <td>8</td>
            <td>560</td>
            <td>56%</td>
        </tr>
        <tr>
            <td>Quiz</td>
            <td>40</td>
            <td>8</td>
            <td>320</td>
            <td>32%</td>
        </tr>
        <tr>
            <td>Discussion</td>
            <td>8</td>
            <td>8</td>
            <td>64</td>
            <td>6%</td>
        </tr>
        <tr>
            <td>Reflection</td>
            <td>3</td>
            <td>8</td>
            <td>12</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>Demo</td>
            <td>12</td>
            <td>1</td>
            <td>12</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>Final Project</td>
            <td>20</td>
            <td>1</td>
            <td>20</td>
            <td>2%</td>
        </tr>
        <tr>
            <td>Totals</td>
            <td></td>
            <td>34</td>
            <td>1000</td>
            <td>100%</td>
        </tr>
    </table><br><br>
      <p style="padding-top:0px; padding-bottom:0px">
        <strong>Grading Policies:</strong>  No late assignments will be accepted. It is vastly preferable to
        submit a partially complete assignment on time than to turn in a late assignment.<br><br>
        Similarly, it is vastly more beneficially to turn in a programming or lab assignment that
        has 70% of the features fully implemented than to turn in an assignment that has 100%
        of the features partially implemented.<br><br>
        Final course letter grade will be determined using the following scale:
      </p>

      <table style="width:40%; padding-bottom:0px">
        <tr>
            <th>Grade</th>
            <th>Percent</th>
            <th>Grade</th>
            <th>Percent</th>
        </tr>
        <tr>
          <td>A</td>
          <td>>=93</td>
          <td>C</td>
          <td>73-76.99</td>
      </tr>
        <tr>
            <td>A-</td>
            <td>90-92.99</td>
            <td>C-</td>
            <td>70-72.99</td>
        </tr>
        <tr>
            <td>B+</td>
            <td>87-89.99</td>
            <td>D+</td>
            <td>67-69.99</td>
        </tr>
        <tr>
            <td>B</td>
            <td>83-86.99</td>
            <td>D</td>
            <td>63-66.99</td>
        </tr>
        <tr>
            <td>B-</td>
            <td>80-82.99</td>
            <td>D-</td>
            <td>60-62.99</td>
        </tr>
        <tr>
            <td>C+</td>
            <td>77-79.99</td>
            <td>F</td>
            <td>60</td>
        </tr>
    </table><br><br>

    <p style="padding-top:0px; padding-bottom:0px">
      <strong>Course Policies:</strong> Class attendance is required unless otherwise specified. During our
      class time we will remain focused on the topics at hand, avoid utilizing phones or email,
      and be inclusive of our fellow classmates.<br><br>
      <strong>Changes to Course Assignments or Grades:</strong> Changes to the course assignments or
      grades will be communicated through course lecture and/or Blackboard announcements.
    </p>

    <h6>VIII. Practices and Policies during the Coronavirus Pandemic</h6>
    <p style="padding-top:0px; padding-bottom:0px">
      <strong>Responsiveness to Change</strong><br><br>
      Understanding that the COVID-19 pandemic could influence the course of this
      semester, Lewis University will be guided by our Lasallian mission and the wellbeing of our community of students, faculty, 
      and staff in respond and adapting toany sudden changes or circumstances. Based on the guidance of the State of
      Illinois and the Centers for Disease Control, it may be necessary to change the
      planned modality this course.<br><br>

      <strong>Flexibility, Accommodations, and Student Absences</strong><br><br>
      Because we are committed to student success, the University community is
      committed to academic standards while maintaining flexibility and empathy.
      Absences relating to the Coronavirus crisis will be recognized as excused.
      Students experiencing disruptions in their lives related to the Coronavirus that
      impact class attendance and participation should contact their instructor and/or
      college Dean’s Office for assistance. Students directly impacted by Coronavirus
      will have the ability to request alternative grading this semester. Requests will be
      evaluated on a case by case basis and will require documentation.<br><br>

      Students who require academic accommodations due to disability caused by
      COVID-19, or to limit risk of exposure to Coronavirus, can engage in an
      interactive process with the Learning Access Coordinator to explore all avenues
      for accommodations. Students can contact the Academic Services office at 815-
      836-5593 or learningaccess@lewisu.edu to request an appointment.<br><br>

      <strong>Face Coverings, Physical Distancing, and Surface Cleaning</strong><br><br>

      Face coverings are required in classrooms. Students will be expected to maintain
      physical distancing in the classroom (6 ft minimum) and to keep their nose and
      mouth covered at all times. Faculty will require students without face covering to
      obtain a disposable mask at the nearest University office providing them. While
      the University will disinfect classrooms and common spaces throughout the day,
      cleaning supplies will be provided in classrooms and offices so that students and
      faculty can wipe down work surfaces before class begins
    </p>

    <h6>IX. Information for Students</h6>
    <p style="padding-top:0px; padding-bottom:0px">
      <strong>Requests for Reasonable Accommodations</strong><br><br>
      Lewis University is committed to providing equal access and opportunity for participation
      in all programs, services and activities. If you are a student with a disability who would
      like to request a reasonable accommodation, please speak with the Learning Access
      Coordinator at the Center for Academic Success and Enrichment (CASE). Please make
      an appointment by calling 815-836-5593 or emailing <u style="color:blue">learningaccess@lewisu.edu</u>. Since
      accommodations require early planning and are not provided retroactively, it is
      recommended that you make your request prior to or during the first week of class. It is
      not necessary to disclose the nature of your disability to your instructor. For more
      information about academic support services, visit the website at:
      <a href="https://www.lewisu.edu/CASE/index.htm" target="_blank">www.lewisu.edu/CASE</a>.<br><br>

      Lewis University has adopted Blackboard Ally providing alternative formats for files
      uploaded by instructors. Students can click the down arrow next to any file and select
      Alternative Formats.<br><br>

      <strong>Sanctified Zone</strong><br><br>
      Guided by its Catholic and Lasallian heritage, Lewis University is firmly committed to
      fostering a campus atmosphere that is permeated by its Mission values of Fidelity,
      Wisdom, Knowledge, Justice, and Association. Accordingly, we have declared the
      University campus to be a Sanctified Zone, a place and a people United in Diversity.
      The active promotion of diversity and the opposition to all forms of prejudice and bias are 
      a powerful and healing expression of our desire to be Signs of Faith (Signum Fidei) to
      each other. To learn more about the Sanctified Zone, please visit:
      http://www.lewisu.edu/sanctified zone<br><br>


      <strong>Academic Integrity</strong><br><br>
      Scholastic integrity lies at the heart of Lewis University. Plagiarism, collusion and other
      forms of cheating or scholastic dishonesty are incompatible with the principles of the
      University. Students engaging in such activities are subject to loss of credit and
      expulsion from the University. Cases involving academic dishonesty are initially
      considered and determined at the instructor level. If the student is not satisfied with the
      instructor’s explanation, the student may appeal at the department/program level.
      Appeal of the department /program decision must be made to the Dean of the
      college/school. The Dean reviews the appeal and makes the final decision in all cases
      except those in which suspension or expulsion is recommended, and in these cases the
      Provost makes the final decision.<br><br>

      <a href="https://www.lewisu.edu/welcome/studentcomplaints.htm" target="_blank"><strong>University Student Complaint Policy</strong></a><br><br>
      The University Student Complaint Policy can be found at lewisu.edu/studentcomplaints<br><br>

      <a href="https://www.lewisu.edu/welcome/studentcomplaints.htm" target="_blank"><strong>University Grade Appeal Policy</strong></a><br><br>
      The University Grade Appeal Policy can be found at lewisuedu/studentcomplaints<br><br>

      <strong>Center for Health & Counseling Services</strong><br><br>
      To support student success, all Lewis students are eligible for free health and
      mental health services on the Romeoville campus. This includes commuters and
      those living on campus, part-time and full-time students, graduate and
      undergraduate students, and those taking Lewis classes at other locations. For
      more information, visit the Center for Health & Counseling website at
      <a href="https://www.lewisu.edu/studentservices/health/index.htm" target="_blank">www.lewisu.edu/studentservices/health</a> or call (815)836-5455.<br><br>
    </p>

    <a class="links" style="font-family:Arial; letter-spacing: 1px; font-size: 16px; line-height: 20px;" href="#top">Click here to back to the top of the page</a>
    <br><br><br><br>
    
</body>
</html>